*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    width: 100vw;
    height: 100vh;
    font-family: 'Righteous', cursive;
    background-color: #EEEEEE;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0rem;
    padding-top: 3rem;
}

h2{
    margin: 2rem -2rem 2rem 0rem;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    width: 70vw;
    margin: 2rem auto;
    border-radius: 5px;
    text-shadow: 2px 3px rgb(141, 141, 141);
    /* width: 20rem; */
    padding: 1rem;
    box-shadow: 2px 2px 20px 1px rgb(239, 239, 239) ;
    border: none;
    text-align: center;
    background-color: #BDBDD7;

}

.options{
    width: 21rem;
    height: 25rem;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    border-radius: 5px;
    padding: 3rem;
    box-shadow: 2px 2px 20px 1px rgb(195, 195, 195) ;
    background-color: #BDBDD7;
}

.pixelspace{
    width : 40rem;
    height: 40rem;
    align-self: center;
    border: 2px solid #46466E;
}

.grid{
    display: grid;
}

.input{
    width: 12rem;
    height: 2.5rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    /* background-color: rgb(154, 154, 154); */
    transition: transform 0.5s 0.2s;

}

.input:hover{
    transform: scale(1.05);
    background-color: #393E46;
    color: white;
}

.erase{
    width: 12rem;
    height: 2.5rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    /* background-color: rgb(154, 154, 154); */
    transition: transform 0.5s 0.2s;
}

.erase:hover{
    transform: scale(1.05);
    background-color: #393E46;
    color: white;
}

.clear{
    width: 12rem;
    height: 2.5rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    /* background-color: rgb(154, 154, 154); */
    transition: transform 0.5s 0.2s;
}

.clear:hover{
    transform: scale(1.05);
    background-color: #393E46;
    color: white;
}

.random{
    width: 12rem;
    height: 2.5rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    /* background-color: rgb(154, 154, 154); */
    transition: transform 0.5s 0.2s;
}

.random:hover{
    transform: scale(1.05);
    background-color: #393E46;
    color: white;
}

.favcolor{
    width: 12rem;
    height: 2.5rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.5s 0.2s;
}

.favcolor:hover{
    transform: scale(1.05);
    background-color: #393E46;
    color: white;
}

.colorpixel{
    background-color: rgb(49, 136, 229);
}

footer > p{
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    font-size: 20px;
    padding: 1rem;
    /* background-color: rgb(114, 113, 113); */
    letter-spacing: 0.1rem;
    /* width: 20rem; */
    text-align: center;
}
